:root {
    --grid-color: #456123;
    --box-color: #fff;
    --bg: #000;

    --box-size: 40px;
}

body {
    font-family: helvetica;
    background-color: var(--bg);
    color: white;
}

.box {
    background-color: var(--box-color);
    margin-top: 1px;
    margin-left: 1px;
}

main {
    background-color: var(--grid-color);
    display: flex;
    flex-wrap: wrap;
}
