:root {
    --grid-color: #00d8ff;
    --box-color: #f21557;
    --bg: #000;

    /* --box-size: 40px; */
}

body {
    font-family: helvetica;
    background-color: var(--bg);
    color: white;
}

.box {
    background-color: var(--box-color);
    margin-top: 1px;
    margin-left: 1px;
    box-shadow: 0 0 3vw var(--box-color)
}

main {
    background-color: var(--grid-color);
    display: flex;
    flex-wrap: wrap;
    /* width: 411px; */
}

button {
    margin: 40px;
    padding: 10px 28px;
    background-color: var(--box-color);
    color: var(--grid-color);
    font-size: 2em;
    box-shadow: 4px 4px var(--grid-color);
}
